#homepage{
    background-color: red;
}
#ipad1{
    background-color: orange;
}
#ipad3{
    background-color: yellow;
}
#ipad5{
    background-color: green;
}
#ipad7{
    background-color: blue;
}
#ipad9{
    background-color: purple;
}
h1{
    text-align: center; font-size: 48px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homepage{
    font-size: 30px;
}
